.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 70px;

  background-color: $background-color;

  @include on-tablet {
    justify-content: start;
  }

  @include on-desktop {
    min-height: 64px;
  }

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;
    margin: auto;

    background-color: $border-hover-color;
  }

  &__nav {
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__icons {
    display: none;

    @include on-tablet {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }

  &__close {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 58px;
    height: 58px;

    @include on-tablet {
      display: none;
    }
  }

  &__right {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
  }

  &__logo_link {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    text-decoration: none;
  }

  &__logo {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    background: linear-gradient(
      135deg,
      $accent-purple-color,
      $accent-color
    );

    color: $background-color;

    font-family: $font;
    font-size: 20px;
    font-weight: 400;
    
    @include on-desktop {
      width: 36px;
      height: 36px;
    }

    @include hover(transform, scale(1.2));
  }
}

.icon {
  cursor: pointer;

  width: 100%;
  height: 100%;
  border: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--burger {
  background-image: url('./icons/Menu.svg');
}

.icon--close  {
  background-image: url('./icons/Close.svg');
}

.iconButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $background-color;
  background-color: $accent-color;
  border: 1px solid $background-color;
  border-radius: 5px;
  font-family: $font-mono;
  
  border: 1px solid $accent-color;

  font-size: 12px;
  padding: 8px 16px;

  @include on-desktop {
    font-size: 19px;
    font-weight: 500;
    padding: 11px 25px;
  }

  &__text {
    margin: 0;
  }

  &:hover {
    background-color: $background-card-color;
    color: $accent-purple-color;
    border: 1px solid $accent-purple-color;
  }
}
